@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}

header {
    position:relative;
}

nav {
    /* display: grid;
    grid-template-columns: 100px 1fr; */
    padding: 0;
    position: fixed;
    z-index: 1;
}

#navBar {
    font-size: 20px;
    font-style: italic;

    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */

    padding-left: 0;
    margin: 0;
}

article {
    border: 2px solid black;
    border-radius: 100px;
    margin:50px;
    max-height: fit-content;
    height: 90vh;
}

img {
    display: block;
    margin: 0 auto;
    /* width: 50%; */
    padding: 10px;
}

/* #main {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
} */

.articleText {
    padding: 10%;
}

#main h1 {
    font-size: 150px;
    font-family: 'Monoton', cursive;
    text-align: center;
}

#main {
    position: relative;
    height: 100vh;
}

#main a {
    text-decoration: none;
    color: #11a459;
}