@import url('https://fonts.googleapis.com/css2?family=Monoton&Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* list-style: none; */
    text-decoration: none;
    /* font-style: italic; */
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Nanum Gothic Coding', monospace;
}

html {
    height: 100vh;
    top: 0;
    position: relative;
}

#body {
    background-color: #c7e2c7;
    /* background-image: url('../img/IMG_8862.jpg');
    background-repeat : no-repeat;
    background-size : cover; */
}

.container {
    position: relative;
    min-height: 100%;
}

#navbar, article, footer {
    border: 2px solid black;
    border-radius: 100px;
    margin: 10px;
    max-height: fit-content;
    background-color: white;
}

#navbar, footer {
    padding: 15px 5%;
    position: inherit;
}

article {
    padding: 0 5%;
    height: 79vh;
    position: inherit;
    line-height: 30px;
}

h1 {    
    font-size: 90px;
    font-family: 'Monoton', cursive;
    text-align: center;
    color: #0e7712;
    margin: 5%;
}

#main p {
    text-shadow: 3px 3px 4px #b7b7b7;
    text-align: center;
    margin: 0;
}

h2{
    font-size: 40px;
    text-align: center;
    margin: 5%
}

.infoList{
    padding: 0;
    margin: 0;
    line-height: 40px;
}

footer {
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 3px;
    padding-left: 3px;
}

@media (min-width: 992px) { 
    .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
    
} }

.navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-menu {
    border-radius: 60px;
    border: 2px solid black;
    padding: 15px 5%;
    min-width: 8rem;
}

.dropdown-item {
    text-align: center;
}

.dropdown-item:hover {
    background-color: transparent;
    color: black;
    /* text-decoration: underline; */
    text-shadow: 1px 1px 1px #7ef084;
}

a {
    text-decoration: none;
}

#mapIcon, #galleryIcon {
    padding-left: 6px;
}

.infoList a {
    color: #0e7712;
    font-style: italic;
    text-decoration: none;
    text-shadow: 1px 1px 1px #7ef084;
}

.infoList b {
    text-shadow: 1px 1px 1px #7ef084;
    font-style: italic;
}


#mapBody {
    background-color: #9ebad1;
    padding: 0;
    /* padding: 0px;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block; */
}

#map {
    width:100%;
    height:100%;
    border: 0px solid black;
    border-radius: 100px;
    /* margin: 10px; */
    max-height: fit-content;

    padding: 0 5%;
    height: 79vh;
    position: inherit;
}

/* test */

/* Create an active/current tablink class */
